<script setup lang="ts">
defineProps({
  label: String,
  value: String,
});
</script>

<template>
  <div class="group">
    <span class="group--label">{{ label }}</span>
    <span class="group--value">{{ value }}</span>
  </div>
</template>

<style scoped lang="scss">
.group {
  &--label {
    color: $color-label;
    display: block;
    font-size: 1ex;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1ex;
  }
  &--value {
    color: $color-value;
    display: block;
  }
  margin-bottom: 1em;
}

@media screen and (min-width: $md-device) {
  .group {
    padding: 0 2em 0 4em;
  }
  .group:not(:first-child) {
    border-left: 1px solid $color-label;
  }
}
</style>
