<script setup lang="ts">
import { ref } from "vue";
import InfoGroup from "./InfoGroup.vue";
import { _IPServices } from "../services/IPServices";
import "leaflet/dist/leaflet.css";
import L from "leaflet";
import img0 from "../assets/images/icon-location.svg";

const attribution =
  "&copy; <a href='http://www.openstreetmap.org/copyright" +
  "'>OpenStreetMap</a>, &copy; <a href='https://carto.com/attribution'>CARTO</a><br/>" +
  "Challenge by <a href='https://www.frontendmentor.io?ref=challenge' target='_blank'" +
  ">Frontend Mentor</a" +
  ">. Coded by <a href='https://gitlab.com/vianhg'>vianhg</a>";
let loading = ref(false);
let trackInfo = ref(_IPServices.newTrackInfo());
let ip = ref("");
let map: L.Map;


const drawMap = (lat: number, long: number) => {
  if (map != undefined) {
    map.remove();
  }
  map = L.map("map").setView([lat, long], 12);
  const tileLayer = L.tileLayer(
    "https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}.png",
    {
      maxZoom: 18,
      attribution: attribution,
    }
  );
  tileLayer.addTo(map);
  const icon = L.icon({
    iconUrl: img0,
    iconSize: [38, 38], // size of the icon
    iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor: [-3, -76], // point from which the popup should open relative to the iconAnchor
  });
  L.marker([lat, long], { icon: icon }).addTo(map);
};
const searchIp = () => {
  loading.value = true;
  _IPServices.getTrackInfo(ip.value).subscribe({
    next: (data) => {
      trackInfo.value = data;
      drawMap(trackInfo.value.location.lat, trackInfo.value.location.lng);
      loading.value = false;
    },
    error: (err) => {
      console.log(err.response);
    }
  });
};
</script>

<template>
  <section class="iptracker">
    <p class="loader" v-if="loading">Loading...</p>
    <h1 class="iptracker--title">IP Address Tracker</h1>
    <div class="iptracker--container-input">
      <input
        type="text"
        class="iptracker--ipinput"
        placeholder="Search for any IP address or domain"
        v-model="ip"
        required
      />
      <span class="iptracker--icon" @click="searchIp"
        ><img src="../assets/images/icon-arrow.svg" alt=""
      /></span>
    </div>
    <div class="card">
      <InfoGroup label="IP Address" :value="trackInfo.ip"></InfoGroup>
      <InfoGroup
        label="Location"
        :value="`${
          trackInfo.location?.city
            ? trackInfo.location.city +
              ', ' +
              trackInfo.location.region +
              ' ' +
              trackInfo.location.postalCode
            : ''
        }`"
      ></InfoGroup>
      <InfoGroup
        label="Timezone"
        :value="`UTC ${trackInfo.location?.timezone}`"
      ></InfoGroup>
      <InfoGroup label="ISP" :value="trackInfo.isp"></InfoGroup>
    </div>
    <div class="map-container">
      <div id="map" class="map-container--map"></div>
    </div>
  </section>
</template>

<style scoped lang="scss">
.loader {
  position: absolute;
  text-align: center;
}
.iptracker {
  text-align: center;
  &--title {
    color: $color-title;
  }
  &--container-input {
    position: relative;
    margin: 2em auto;
    display: flex;
    max-width: 400px;
  }
  &--ipinput {
    font-weight: 700;
    font-family: inherit;
    padding: 10px;
    border-radius: 5px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    width: 100%;
  }
  &--icon {
    position: absolute;
    background-color: black;
    right: 0;
    width: 2em;
    line-height: 2em;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &--icon:hover {
    cursor: pointer;
  }
}
.card {
  background-color: $color-white;
  border-radius: 1em;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.map-container {
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  z-index: -1;
  left: 0;
  &--map {
    height: 100%;
  }
}

@media screen and (min-width: $md-device) {
  .card {
    display: inline-flex;    
    flex-direction: row;
    margin: 0 auto;
  }
  .map-container {
    height: 70vh;
  }
}
</style>
