@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "./tokens.scss";

body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../assets/images/pattern-bg.png");
  background-size: contain;
  color: $text-default-color;
  font-family: $text-default-font-family;
  font-size: $text-default-font-size;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/