$sm-device: 375px;
$md-device: 800px;
$lg-device: 1440px;

//## Colors

//### Primary
$color-very-dark-gray: hsl(0, 0%, 17%);
$color-dark-gray: hsl(0, 0%, 59%);
//Neutral
//
$color-label: $color-dark-gray;
$color-value: $color-very-dark-gray;
$color-text: $color-dark-gray;
$color-white: white;
$color-title: $color-white;

//##Text
$text-default-color: $color-text;
$text-default-font-size: 18px;
$text-default-font-family: "Rubik";

