<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import IPAddressTracker from './components/IPAddressTracker.vue'
</script>

<template>
  <main class="main">
    <IPAddressTracker />
  </main>  
</template>

<style scoped lang="scss">

.main {
  display: flex;
  flex-direction: column;
  margin: 1em 0 auto 0;
  padding: 2rem 1.2rem ;
  text-align: center;
}

</style>
